.homecontent {
    position: relative;
    padding: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
}

.imgBox img{
    width: 400px;
    padding: 30px;
    left: 50px;
    height: 400px;
}

.homecontent button{
    color: var(--secondary-color);
    background-color: var(--Fourth-Color);
}

.homecontent .imgBox{
    display: flex;
    justify-content: flex-end;
}

.homecontent .hometext{
    position: relative;
    max-width: 600px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;

}

.homecontent .hometext h2{
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}


.bikes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.bikes img {
    box-shadow: 4px 7px 7px 0px #000;
    cursor: pointer;
    border: 0.5 solid #004;
    transition: 400ms;
    border-radius: 13px ;
    padding: 15px;
    width: 300px;
    height: 200px;
    position: relative;


}

footer{
    margin-top: 50px;
    position: relative;
    padding: 0 auto;
}

.card {
    background-color: var(--Tertiary-color);
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;

}
.listingheader {
    text-align: center;
    color: var(--secondary-color);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-content h3 {
    margin: 0 0 10px;
    color: var(--secondary-color);
    transform: scale(1.2s);
}

.card-content {
    color: var(--secondary-color);
}
