*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #3C3744;
    --secondary-color: #DFE0E2;
    --Tertiary-color: #010400; 
    --Fourth-Color: #28C2FF;
    --max-width: 1400px;
}


.homecontent {
    position: relative;
    padding: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
}

.imgBox img{
    width: 400px;
    padding: 30px;
    left: 30px;
    height: 400px;
}

.homecontent button{
    color: var(--secondary-color);
    background-color: var(--Fourth-Color);
}

.homecontent .imgBox{
    display: flex;
    justify-content: flex-end;
}

.homecontent .hometext{
    position: relative;
    max-width: 600px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;

}

.homecontent .hometext h2{
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}

